node_modules
node_modules
node_modules
.env
.env.local
.env.development
.env.production
*.log
dist/
.DS_Store
.netlify/functions-serve/
.cache/
**/supabase/.env
supabase/.env.*
*.key
*_key
*_token.txt
**/*secret*
**/*credentials*
.netlify/state.json
